@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
    
  .table
  {
      display: flex;
     justify-content: center; 
  }
  .first-row
  {
      width: 400px;
  }
  .second-row
  {
      width:400px;
  }
  .third-row
  {
    width: 400px;
  }
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #f7992f;
    color: #ffffff;
    text-align: Left;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #ffe9d4;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #f7992f;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  
p
{
    font-weight: 300;
    color: #111;
}
.content a 
{
    text-decoration: none;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/SOSCO/oil\ rig.jpg);
    background-size: cover; 
}
.banner .content
{
    max-width: 900px;
    text-align: center;
}
.banner .content h2
{
    font-size: 5em;
    color: #fff;
}
.banner .content p
{
    font-size: 1em;
    color: #fff;
}
.btn
{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display:inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 3px;
}
.logo1
{
    max-width: 30px;
    margin-right: 10px;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    line-height: 2;
}
.navigation li ul li 
{
    font-weight: 300;
    color: #fff;
    display: none;
    
}
.navigation li:hover ul li 
{
    display:block;
}

header.sticky .submenu-1 ul li > ul
{
    color:black;
}
header.sticky
{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,05);
}

header .logo
{
   color: #111; 
   font-weight: 700;
   font-size: 1.5em;
   text-decoration: none;
   display: flex;
   align-items: center;
}
header.sticky .logo
{
    color: #111;
}
header .logo span
{
color: #ff0157;
}
header .navigation
{
    position: relative;
    display: flex;
}
header .navigation li
{
list-style: none;
margin-left: 30px;
}
header .navigation li a
{
    text-decoration: none;
    color:#111;
    font-weight: 300;
}
header.sticky .navigation li a
{
  color: #111;  
}
header .navigation li a:hover
{
    color:#ff0157;
}
section
{
    padding: 150px 50px 50px 50px;
}
.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50
{
    position: relative;
    width: 48%;
}
.titleText
{
    color:#111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span
{
    color:#ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx
{
    position: relative;
    width: 100%;
    min-height: 300px;
    
}
.row .col50 .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title
{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content
{
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box 
{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgBx
{
    position: relative;
    width:100%;
    height: 300px;
}
.menu .content .box .imgBx img
{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit:cover;
}
.menu .content .box .text
{
    padding: 15px 0 5px;
}
.menu .content .box .text h3
{
    font-weight: 400;
    color:#111;
    text-align: center;
}

.clients .content
{
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.clients .content .box 
{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.clients .content .box .imgBx
{
    position: relative;
    width:100%;
    height: 300px;
}
.clients .content .box .imgBx img
{
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: contain;
}
.clients .content .box .text
{
    padding: 15px 0 5px;
}
.clients .content .box .text h3
{
    font-weight: 400;
    color:#111;
}
.menu{
    height: 100vh;
}
.contact
{
   background-size: cover;

}
.contactForm1
{
 
    background: #fff;

    max-width: 500px;
    margin-bottom: 50px;
}
.contactForm1 h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 0px;
    font-weight: 500;
}
.contactForm1 p
{
    margin-bottom: 20px;
}
.contactForm
{
    padding:75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.3);
    max-width: 500px;
    margin: 25px auto;
}
.contactForm h3
{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width:100%;
    border: 1px solid #555;
    color: #111;
    padding:10px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox input[type="submit"]
{
    font-size: 1em;
    color:#fff;
    background: #ff0157;
    display:inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width:100px;
    font-weight: 500;
    border:none;
    cursor:pointer;
}
.mapdiv
{
    padding:0px 0px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.3);
    max-width: 500px;
    margin: 25px auto;
}
.copyrightText
{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align:center;
}
.copyrightText p
{
    color: #333;
}
.copyrightText a
{
    color:#ff0157;
    font-weight:500;
    text-decoration: none;
}
.aboutusp
{
    margin-bottom: 20px;
}
#map
{
    height: 500px;
    width: 100%;
}
@media (max-width: 1050px)
{
    header,
    header.sticky
    {
        font-size: 0.9em;
    }
}
@media (max-width: 991px)
{
    header,
    header.sticky
    {
        padding:10px 20px;
        font-size: 0.8em;
        line-height: 3;
    }
    header .navigation
    {
        display:none;  
    }
    header .navigation.active
    {
        width: 100%;
        height: calc(100% - 75px);
        position: fixed;
        top: 75px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        font-size: 0.8em;
    }
    header .navigation li
    {
        margin-left: 0;
    }
    header .navigation li a
    {
        text-decoration: none;
        color:black;
        font-size: 1.8em;
        font-weight: 500;
    }
    header .navigation .submenu-1 ul li 
    {
        color:black;
    }
    header .logo
{
   color: #111; 
   font-weight: 700;
   font-size: 1.2em;
   text-decoration: none;
   display: flex;
   align-items: center;
}
.logo1
{
    max-width: 20px;
    margin-right: 10px;
}
    .menuToggle
    {
       position: relative;
       width: 40px;
       height: 40px;
       background: url(menu.png);
       background-size:30px;
       background-repeat: no-repeat;
       background-position: center;
       cursor: pointer;
       filter: invert(1);
    }
    .menuToggle.active
    {
        background:url(close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle
    {
        filter: invert(1)
    }
    section
    {
        padding: 120px 10px 10px 10px;
    }
    .banner .content h2
    {
        font-size:3em;
        color:#fff;
    }
    .row
    {
        flex-direction: column;
    }
    .row .col50
    {
        position: relative;
        width: 100%;
        text-align: center;
    }
    .row .col50 .imgBx {
        height: 300px;
        margin-top: 20px;
    }
    .menu .content {
        margin-top: 20px;
    }
    .menu .content .box 
    {
        margin: 10px;
    }
    .menu .content .box .imgBx 
    {
        height: 260px;
    }
    .copyrightText p
{
    color: #333;
    font-size: 0.8em;
}
.content-table th, .content-table td {
    padding: 12px 15px;
    font-size: 0.8em;
}
}