

body{
    background-image:url(../images/OQT8RM0.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: 0rem 7.5rem;
}

.upperpanel{
    margin-top:5rem;
}


.feathericon{
    margin-right: 15rem;
}


.upperpanel ul li{
    list-style:none;
    display:inline-block;
}

.wrapper{
    margin:2rem;
    display:grid;
    grid-template-rows:17rem 17rem 17rem 17rem;
    grid-template-columns:repeat(auto-fit, minmax(11rem, 1fr));
    grid-column-gap:20px ;
    grid-row-gap:20px ; 
    
}
.car1{
    position:relative;
    background-size:100%;
    background-repeat:no-repeat;
    transition:0.3s;
    background-position:1%;
    display:grid;
    grid-template-columns:50% 50%;
    background-image:url(../images/toyotamain.png);
    
}

.car2{
    
    transition:0.3s;
    background-color:yellow;
}
.car3{
    background-color:green;
}
.car4{
    background-color:yellow;
}
.car5{
    background-color:green;
}
.car6{
    background-color:yellow;
}

.car1:hover{
    transform:scale(1.1);
    
    

}
.car2:hover{
    transform:scale(1.1);
    background-color:red;
}
