@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');


.logo{
    max-width: 200px;
    margin-top:2em;
    margin-bottom:1em;
    margin-left:2.5em;
}


body{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

.nav{
    list-style:none;
}
.nav li{
    display:inline-block;
    margin:1em;
    color:black;
}
a{
    text-decoration:none;
    color:black;
}
.interface{
    list-style:none;
}
.interface li{
    margin:2em;
    style:button;
}

.interface li button{
    font-size:1.5rem;
    opacity:59%;
    border-radius:1rem;
    padding:0.3rem 2.3rem 0.3rem 2.3rem;
    transition:0.2s;
}
.interface li button:hover{
    opacity:100%;
    transform:scale(1.1);
}

.background {
    
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    width:100%;
    background-position-y:10%;
    margin-top:7rem;
}

.navenglish{
    text-decoration: underline;
}
}
   

